/* theme */
/* fonts */
@font-face {
  font-family: "open-sans";
  src: url('fonts/OpenSans-Regular.eot?1468144244');
  src: url('fonts/OpenSans-Regular.eot?&1468144244#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular.ttf?1468144244') format('truetype'), url('fonts/OpenSans-Regular.woff?1468144244') format('woff');
  font-weight: "OpenSans-Regular.svg"; }
@font-face {
  font-family: "Weblogma_Yekan";
  src: url('fonts/Yekan.eot?1468144244');
  src: url('fonts/Yekan.eot?&1468144244#iefix') format('embedded-opentype'), url('fonts/Yekan.ttf?1468144244') format('truetype'), url('fonts/Yekan.woff?1468144244') format('woff');
  font-weight: "Yekan.svg"; }
/* normalize style */
/* normalize-scss 3.0.2+normalize.3.0.2 | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 69, sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 81, sass/base/_normalize.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 95, sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 116, sass/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 135, sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 145, sass/base/_normalize.scss */
[hidden] {
  display: none; }

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 154, sass/base/_normalize.scss */
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 166, sass/base/_normalize.scss */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 175, sass/base/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 187, sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 195, sass/base/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 205, sass/base/_normalize.scss */
blockquote {
  margin: 1.5em 40px; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 214, sass/base/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 223, sass/base/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

/* line 238, sass/base/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 244, sass/base/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em; }

/* line 250, sass/base/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

/* line 256, sass/base/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em; }

/* line 262, sass/base/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 274, sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 285, sass/base/_normalize.scss */
p,
pre {
  margin: 1.5em 0; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 295, sass/base/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 303, sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 311, sass/base/_normalize.scss */
sup {
  top: -0.5em; }

/* line 315, sass/base/_normalize.scss */
sub {
  bottom: -0.25em; }

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 327, sass/base/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0; }

/* line 348, sass/base/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 356, sass/base/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 368, sass/base/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 383, sass/base/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 396, sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 408, sass/base/_normalize.scss */
figure {
  margin: 1.5em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 417, sass/base/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 426, sass/base/_normalize.scss */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 434, sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 458, sass/base/_normalize.scss */
form {
  margin: 0; }

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 472, sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 490, sass/base/_normalize.scss */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 501, sass/base/_normalize.scss */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 516, sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 531, sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 540, sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 551, sass/base/_normalize.scss */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 566, sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 583, sass/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 594, sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */ }
  /* line 604, sass/base/_normalize.scss */
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 614, sass/base/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 630, sass/base/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 644, sass/base/_normalize.scss */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 653, sass/base/_normalize.scss */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 664, sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 669, sass/base/_normalize.scss */
td,
th {
  padding: 0; }

/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 65, sass/fonts/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/* ------------susy-------- */
/* line 14, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 18, sass/base/_variables.scss */
.fullwidth {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }

/* line 21, sass/base/_variables.scss */
.oneSecond {
  width: 49.15254%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 23, sass/base/_variables.scss */
  .oneSecond:nth-child(2n) {
    width: 49.15254%;
    float: left;
    margin-left: 0;
    *margin-right: -1em;
    display: inline; }

/* line 29, sass/base/_variables.scss */
.oneThird {
  width: 32.20339%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 31, sass/base/_variables.scss */
  .oneThird:nth-child(3n) {
    width: 32.20339%;
    float: left;
    margin-left: 0;
    *margin-right: -1em;
    display: inline; }

/* line 37, sass/base/_variables.scss */
.oneFourth {
  width: 23.72881%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 39, sass/base/_variables.scss */
  .oneFourth:nth-child(4n) {
    width: 23.72881%;
    float: left;
    margin-left: 0;
    *margin-right: -1em;
    display: inline; }

/* line 44, sass/base/_variables.scss */
.Fifth {
  width: 40.67797%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }

/* line 48, sass/base/_variables.scss */
.lastGrid {
  float: left;
  margin-left: 0;
  *margin-right: -1em;
  display: inline; }

/*------ colors -----------*/
/*----------------transition-shadow----------------------*/
/* line 96, sass/base/_variables.scss */
.def-transition, .bottom-tooltip, input[type=submit], button, .feature-pages .feature-pages-wrapper .feature-pages-inner .page-grid {
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease-in-out 0s; }

/*----------------box-shadow----------------------*/
/* line 102, sass/base/_variables.scss */
.def-box-shadow, .bottom-tooltip, nav.main-menu, nav.main-menu ul.main-nav > li ul.sub-menu li ul.sub-menu {
  -moz-box-shadow: 0px 0px 7px #E6E7E7;
  -webkit-box-shadow: 0px 0px 7px #E6E7E7;
  box-shadow: 0px 0px 7px #E6E7E7; }

/* line 105, sass/base/_variables.scss */
.dark-box-shadow {
  -moz-box-shadow: 0px 0px 5px #010102;
  -webkit-box-shadow: 0px 0px 5px #010102;
  box-shadow: 0px 0px 5px #010102; }

/* line 108, sass/base/_variables.scss */
.gol-box-shadow {
  -moz-box-shadow: 0px 0px 8px #FF585B;
  -webkit-box-shadow: 0px 0px 8px #FF585B;
  box-shadow: 0px 0px 8px #FF585B; }

/* line 111, sass/base/_variables.scss */
.green-box-shadow {
  -moz-box-shadow: 0px 0px 6px #147e07;
  -webkit-box-shadow: 0px 0px 6px #147e07;
  box-shadow: 0px 0px 6px #147e07; }

/* line 115, sass/base/_variables.scss */
.def-text-shadow {
  color: #0d3f64;
  text-shadow: inset 1px 4px 6px #092b44, inset 0 0 0 #282828, inset 1px 4px 6px #092b44; }

@-moz-keyframes move-up {
  0% {
    opacity: 0;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-webkit-keyframes move-up {
  0% {
    opacity: 0;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
@keyframes move-up {
  0% {
    opacity: 0;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-moz-keyframes move-down {
  0% {
    opacity: 0;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@-webkit-keyframes move-down {
  0% {
    opacity: 0;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes move-down {
  0% {
    opacity: 0;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
/* line 135, sass/base/_variables.scss */
.bottom-tooltip {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100px;
  height: auto;
  line-height: 20px;
  padding: 10px;
  left: 88%;
  margin-left: -64px;
  color: #125688;
  text-align: center;
  border: 4px solid #F2F2F2;
  background: rgba(255, 255, 255, 0.85);
  z-index: 9999;
  text-indent: 0px;
  position: absolute;
  pointer-events: none;
  top: 70px;
  opacity: 0; }
  /* line 155, sass/base/_variables.scss */
  .bottom-tooltip::before, .bottom-tooltip::after {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1); }
  /* line 167, sass/base/_variables.scss */
  .bottom-tooltip::after {
    top: -14px;
    margin-left: -10px;
    border-bottom: 10px solid #FFFFFF; }

/* functions */
/* mixins */
/* base style */
/* line 2, sass/base/_base.scss */
body, html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  min-height: 100%;
  display: block;
  -moz-transition: all, 0.4s 1s 0s;
  -o-transition: all, 0.4s 1s 0s;
  -webkit-transition: all, 0.4s 1s;
  -webkit-transition-delay: 0s;
  transition: all 0.4s 1s 0s; }

/* line 15, sass/base/_base.scss */
body {
  font-family: "Weblogma_Yekan";
  direction: rtl;
  font-size: 100%;
  line-height: 180%;
  font-weight: normal; }
  /* line 22, sass/base/_base.scss */
  body form {
    direction: rtl;
    text-align: right; }
  /* line 26, sass/base/_base.scss */
  body p {
    text-align: justify;
    color: #333336; }

/* line 35, sass/base/_base.scss */
div#responsive-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  display: none;
  background-color: rgba(44, 35, 40, 0.85); }

/* line 47, sass/base/_base.scss */
.fa, .comment-area .comment-metadata .edit-link:before, .comment-area .reply:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/* line 50, sass/base/_base.scss */
a {
  text-decoration: none;
  color: #6a5947; }
  /* line 54, sass/base/_base.scss */
  a:hover {
    color: #FF3300; }

/* line 61, sass/base/_base.scss */
img, video, audio, iframe {
  max-width: 100%; }

/* line 64, sass/base/_base.scss */
input, textarea, button {
  max-width: 100%; }

/* line 67, sass/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  color: #111; }

/* line 71, sass/base/_base.scss */
dl, menu, ol, ul, dir {
  list-style-type: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px; }

/* line 80, sass/base/_base.scss */
.onScreen {
  -moz-transition: opacity, 2s, ease-in-out 1s 0s;
  -o-transition: opacity, 2s, ease-in-out 1s 0s;
  -webkit-transition: opacity, 2s, ease-in-out 1s;
  -webkit-transition-delay: 0s;
  transition: opacity 2s ease-in-out 1s 0s;
  opacity: 1; }

/* line 84, sass/base/_base.scss */
article, aside {
  opacity: 0.3; }

/* line 89, sass/base/_base.scss */
.gallery:after {
  clear: both; }

/* line 92, sass/base/_base.scss */
.gallery:before,
.gallery:after {
  content: "";
  display: table; }

/* line 98, sass/base/_base.scss */
.gallery {
  margin-bottom: 20px;
  margin-left: -4px; }

/* line 103, sass/base/_base.scss */
.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative; }

/* line 110, sass/base/_base.scss */
.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
  display: table;
  margin: 0 auto 20px; }

/* line 118, sass/base/_base.scss */
.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
  text-align: center; }

/* line 124, sass/base/_base.scss */
.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(25% - 4px);
  max-width: calc(25% - 4px); }

/* line 130, sass/base/_base.scss */
.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(20% - 4px);
  max-width: calc(20% - 4px); }

/* line 136, sass/base/_base.scss */
.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(16.7% - 4px);
  max-width: calc(16.7% - 4px); }

/* line 142, sass/base/_base.scss */
.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(14.28% - 4px);
  max-width: calc(14.28% - 4px); }

/* line 148, sass/base/_base.scss */
.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(12.5% - 4px);
  max-width: calc(12.5% - 4px); }

/* line 154, sass/base/_base.scss */
.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(11.1% - 4px);
  max-width: calc(11.1% - 4px); }

/* line 160, sass/base/_base.scss */
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0; }

/* line 172, sass/base/_base.scss */
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left; }

/* line 179, sass/base/_base.scss */
.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 2px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  width: 100%; }

/* line 198, sass/base/_base.scss */
.gallery-caption:before {
  box-shadow: 0 -10px 15px #000 inset;
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; }

/* line 209, sass/base/_base.scss */
.gallery-item:hover .gallery-caption {
  opacity: 1; }

/* line 213, sass/base/_base.scss */
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none; }

/* line 219, sass/base/_base.scss */
.post-password-required input[type="submit"] {
  padding: 7px 24px 4px;
  vertical-align: bottom; }

/* line 224, sass/base/_base.scss */
.post-password-required input[type="submit"]:active {
  padding: 5px 24px 6px; }

/* Placeholder text color -- selectors need to be separate to work. */
/* line 229, sass/base/_base.scss */
::-webkit-input-placeholder {
  color: #7d7b6d; }

/* line 233, sass/base/_base.scss */
:-moz-placeholder {
  color: #7d7b6d; }

/* line 237, sass/base/_base.scss */
::-moz-placeholder {
  color: #7d7b6d; }

/* line 241, sass/base/_base.scss */
:-ms-input-placeholder {
  color: #7d7b6d; }

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
/* line 250, sass/base/_base.scss */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
  max-width: 100%; }

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
/* line 259, sass/base/_base.scss */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto; }

/* line 268, sass/base/_base.scss */
img.size-full,
img.size-large,
img.wp-post-image {
  height: auto;
  max-width: 100%; }

/* Make sure videos and embeds fit their containers. */
/* line 276, sass/base/_base.scss */
embed,
iframe,
object,
video {
  max-width: 100%; }

/* Override the Twitter embed fixed width. */
/* line 284, sass/base/_base.scss */
.entry-content .twitter-tweet-rendered {
  max-width: 100% !important; }

/* Images */
/* line 289, sass/base/_base.scss */
.alignleft {
  float: left; }

/* line 293, sass/base/_base.scss */
.alignright {
  float: right; }

/* line 297, sass/base/_base.scss */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 303, sass/base/_base.scss */
figure.wp-caption.alignleft,
img.alignleft {
  margin: 5px 20px 5px 0; }

/* line 308, sass/base/_base.scss */
.wp-caption.alignleft {
  margin: 5px 10px 5px 0; }

/* line 312, sass/base/_base.scss */
figure.wp-caption.alignright,
img.alignright {
  margin: 5px 0 5px 20px; }

/* line 317, sass/base/_base.scss */
.wp-caption.alignright {
  margin: 5px 0 5px 10px; }

/* line 321, sass/base/_base.scss */
img.aligncenter {
  margin: 5px auto; }

/* line 325, sass/base/_base.scss */
img.alignnone {
  margin: 5px 0; }

/* line 329, sass/base/_base.scss */
.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
  color: #220e10;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 0 0 24px; }

/* line 339, sass/base/_base.scss */
div.wp-caption.alignright img[class*="wp-image-"] {
  float: right; }

/* line 343, sass/base/_base.scss */
div.wp-caption.alignright .wp-caption-text {
  padding-left: 10px; }

/* line 347, sass/base/_base.scss */
img.wp-smiley,
.rsswidget img {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* line 357, sass/base/_base.scss */
.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol {
  list-style-position: inside; }

/* line 364, sass/base/_base.scss */
.gallery {
  margin-right: -4px;
  margin-left: auto; }

/* line 370, sass/base/_base.scss */
.gallery-item {
  float: right;
  margin: 0 0px 4px 4px; }

/* line 376, sass/base/_base.scss */
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: auto;
  margin-left: 0; }

/* line 389, sass/base/_base.scss */
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: right; }

/* line 396, sass/base/_base.scss */
.gallery-caption {
  left: auto;
  right: 0;
  text-align: right; }

/* line 403, sass/base/_base.scss */
.gallery-caption:before {
  left: auto;
  right: 0; }

@-webkit-keyframes move-up {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-moz-keyframes move-up {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-o-keyframes move-up {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: inline-block; } }
@keyframes move-up {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-webkit-keyframes move-down {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@-moz-keyframes move-down {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@-o-keyframes move-down {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes move-down {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 0;
    display: none; } }
@-webkit-keyframes move-slow {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-moz-keyframes move-slow {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
@-o-keyframes move-slow {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
@keyframes move-slow {
  0% {
    opacity: 1;
    display: inline-block; }
  100% {
    opacity: 1;
    display: inline-block; } }
/* line 15, sass/layout/_header.scss */
.site-header {
  display: block;
  width: 100%; }
  /* line 18, sass/layout/_header.scss */
  .site-header .hero {
    position: relative;
    width: 100%;
    background-color: #FFFFFF; }

/* line 25, sass/layout/_header.scss */
nav.main-menu {
  width: 100%; }
  /* line 28, sass/layout/_header.scss */
  nav.main-menu .logo-wrapper {
    float: right;
    display: block;
    max-width: 200px; }
    /* line 32, sass/layout/_header.scss */
    nav.main-menu .logo-wrapper a.site-link {
      display: block;
      padding: 7px 20px; }
  /* line 40, sass/layout/_header.scss */
  nav.main-menu div.responsive-menu {
    display: none; }
  /* line 43, sass/layout/_header.scss */
  nav.main-menu ul.main-nav {
    margin: 0px;
    padding: 0px;
    position: relative; }
    /* line 48, sass/layout/_header.scss */
    nav.main-menu ul.main-nav > li {
      display: inline-block;
      font-size: 18px;
      color: #111; }
      /* line 54, sass/layout/_header.scss */
      nav.main-menu ul.main-nav > li.menu-item-has-children > a::after {
        content: "\f0d7";
        font-family: "FontAwesome";
        font-size: 68%;
        padding: 5px 5px 5px 0px;
        vertical-align: middle; }
      /* line 63, sass/layout/_header.scss */
      nav.main-menu ul.main-nav > li a {
        padding: 10px 8px;
        display: inline-block; }
        /* line 67, sass/layout/_header.scss */
        nav.main-menu ul.main-nav > li a:hover {
          background-color: #F2F2F2;
          color: #FF3300; }
      /* line 72, sass/layout/_header.scss */
      nav.main-menu ul.main-nav > li ul.sub-menu {
        -moz-transition: opacity .45s linear, visibility .1s linear .1s;
        -webkit-transition: opacity .25s linear, visibility .2s linear .1s;
        -o-transition: opacity .45s linear, visibility .1s linear .1s;
        transition: opacity .45s linear, visibility .1s linear .1s;
        visibility: hidden;
        position: absolute;
        top: 50px;
        left: 0px;
        right: 0px;
        padding: 0px;
        margin: 0px;
        z-index: 999; }
      /* line 84, sass/layout/_header.scss */
      nav.main-menu ul.main-nav > li > ul.sub-menu {
        background-color: #F2F2F2;
        padding-right: 20px;
        padding-left: 20px; }
        /* line 90, sass/layout/_header.scss */
        nav.main-menu ul.main-nav > li > ul.sub-menu > li {
          display: inline-block; }
          /* line 92, sass/layout/_header.scss */
          nav.main-menu ul.main-nav > li > ul.sub-menu > li > a {
            border-bottom: 2px solid transparent; }
            /* line 94, sass/layout/_header.scss */
            nav.main-menu ul.main-nav > li > ul.sub-menu > li > a:hover {
              border-color: #FF3300; }
      /* line 101, sass/layout/_header.scss */
      nav.main-menu ul.main-nav > li:hover > ul.sub-menu {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s; }
      /* line 110, sass/layout/_header.scss */
      nav.main-menu ul.main-nav > li ul.sub-menu li ul.sub-menu {
        max-height: 200px;
        border: 2px solid #F2F2F2;
        border-top: 0px;
        background-color: #FFFFFF;
        top: 51px;
        left: 15px;
        right: 15px;
        padding: 10px 5px;
        -webkit-column-count: 4;
        /* Chrome, Safari, Opera */
        -moz-column-count: 4;
        /* Firefox */
        column-count: 4;
        -webkit-column-fill: auto;
        /* Chrome, Safari, Opera */
        -moz-column-fill: auto;
        /* Firefox */
        column-fill: auto; }
        /* line 127, sass/layout/_header.scss */
        nav.main-menu ul.main-nav > li ul.sub-menu li ul.sub-menu li a {
          padding: 7px 8px; }
          /* line 130, sass/layout/_header.scss */
          nav.main-menu ul.main-nav > li ul.sub-menu li ul.sub-menu li a:hover {
            background-color: transparent; }
      /* line 138, sass/layout/_header.scss */
      nav.main-menu ul.main-nav > li ul.sub-menu li:hover > ul.sub-menu {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s; }
  /* line 148, sass/layout/_header.scss */
  nav.main-menu .menu-search-area {
    float: left; }
    /* line 150, sass/layout/_header.scss */
    nav.main-menu .menu-search-area form.searchform {
      position: absolute;
      top: 5px;
      left: 20px; }
      /* line 154, sass/layout/_header.scss */
      nav.main-menu .menu-search-area form.searchform label {
        display: none; }
      /* line 157, sass/layout/_header.scss */
      nav.main-menu .menu-search-area form.searchform input[type="text"] {
        border: 1px solid #E6E7E7;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid #E6E7E7;
        background-color: #FFFFFF !important;
        min-width: 25%;
        padding: 6px !important; }
      /* line 165, sass/layout/_header.scss */
      nav.main-menu .menu-search-area form.searchform i.fa.fa-search, nav.main-menu .menu-search-area form.searchform .comment-area .comment-metadata i.fa-search.edit-link:before, .comment-area .comment-metadata nav.main-menu .menu-search-area form.searchform i.fa-search.edit-link:before, nav.main-menu .menu-search-area form.searchform .comment-area i.fa-search.reply:before, .comment-area nav.main-menu .menu-search-area form.searchform i.fa-search.reply:before {
        cursor: pointer;
        display: inline-block !important; }
        /* line 168, sass/layout/_header.scss */
        nav.main-menu .menu-search-area form.searchform i.fa.fa-search:before, nav.main-menu .menu-search-area form.searchform .comment-area .comment-metadata i.fa-search.edit-link:before, .comment-area .comment-metadata nav.main-menu .menu-search-area form.searchform i.fa-search.edit-link:before, nav.main-menu .menu-search-area form.searchform .comment-area i.fa-search.reply:before, .comment-area nav.main-menu .menu-search-area form.searchform i.fa-search.reply:before {
          background-color: #E6E7E7;
          -moz-border-radius-topleft: 5px;
          -webkit-border-top-left-radius: 5px;
          border-top-left-radius: 5px;
          -moz-border-radius-bottomleft: 5px;
          -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border: 1px solid #E6E7E7;
          color: #333336;
          font-size: 110%;
          padding: 10px;
          vertical-align: middle; }

/* main style */
/* line 3, sass/layout/_main.scss */
.layout {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  /* line 38, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .layout:after {
    content: "";
    display: table;
    clear: both; }

/* line 7, sass/layout/_main.scss */
body {
  width: 100%;
  background-color: #E6E7E7;
  margin: auto;
  z-index: 1; }

/* line 13, sass/layout/_main.scss */
.body-wrapper {
  width: 100%;
  background-color: #E6E7E7;
  margin: auto;
  overflow: hidden; }

/* line 23, sass/layout/_main.scss */
.primary {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 45em) {
    /* line 23, sass/layout/_main.scss */
    .primary {
      width: 66.10169%;
      float: left;
      margin-left: 0; } }
  /* line 33, sass/layout/_main.scss */
  .primary ul.projects-list li {
    width: 100%;
    padding: 8px 20px;
    background-color: #F8F8F8;
    border: 1px solid #E6E7E7;
    border-bottom: 0px; }
    /* line 39, sass/layout/_main.scss */
    .primary ul.projects-list li:nth-of-type(2n) {
      background-color: #e5e5e5; }
    /* line 42, sass/layout/_main.scss */
    .primary ul.projects-list li.project-link:hover {
      background-color: #d9d9d9; }
    /* line 45, sass/layout/_main.scss */
    .primary ul.projects-list li:last-child {
      border-bottom: 1px solid #E6E7E7; }

/* line 52, sass/layout/_main.scss */
.secondary {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 45em) {
    /* line 52, sass/layout/_main.scss */
    .secondary {
      width: 32.20339%;
      float: right;
      margin-left: 1.69492%; } }

/*-----------------page templates correction ----------------*/
/* button style */
/* line 2, sass/modules/_btn.scss */
input[type=submit], button {
  border: 0px;
  padding: 10px 15px;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.25);
  background-color: #FF585B;
  color: #FFFFFF; }
  /* line 11, sass/modules/_btn.scss */
  input[type=submit]:hover, input[type=submit]:focus, button:hover, button:focus {
    background-color: #FF3300; }
  /* line 14, sass/modules/_btn.scss */
  input[type=submit]#searchsubmit, button#searchsubmit {
    padding: 8px 15px; }

/* line 21, sass/modules/_btn.scss */
.sidebar-widget input[type=submit]#searchsubmit, .sidebar-widget button#searchsubmit {
  padding: 3px 15px; }

/* form style */
/* line 2, sass/modules/_forms.scss */
input#s {
  outline: none;
  border: 1px solid #E6E7E7;
  background-color: #F8F8F8;
  padding: 7px; }

/* line 10, sass/modules/_forms.scss */
.widget input#s {
  max-width: 175px; }

/* line 15, sass/modules/_forms.scss */
.search-area input#s {
  padding-top: 0;
  padding-bottom: 0; }

/* table style */
/* line 1, sass/modules/_others.scss */
.feature-pages {
  background-color: #333336;
  position: relative;
  min-height: 280px;
  direction: ltr; }
  /* line 6, sass/modules/_others.scss */
  .feature-pages #NextPageBtn, .feature-pages #PrevPageBtn {
    position: absolute;
    top: 120px; }
    /* line 10, sass/modules/_others.scss */
    .feature-pages #NextPageBtn i:before, .feature-pages #PrevPageBtn i:before {
      display: inline-block;
      padding: 10px 20px;
      font-size: 180%;
      background-color: rgba(44, 35, 40, 0.85);
      color: #FFFFFF;
      -moz-border-radius: 30px;
      -webkit-border-radius: 30px;
      border-radius: 30px; }
    /* line 20, sass/modules/_others.scss */
    .feature-pages #NextPageBtn:hover i:before, .feature-pages #PrevPageBtn:hover i:before {
      background-color: #FF3300; }
  /* line 25, sass/modules/_others.scss */
  .feature-pages #NextPageBtn {
    right: 2%; }
  /* line 28, sass/modules/_others.scss */
  .feature-pages #PrevPageBtn {
    left: 2%; }
  /* line 31, sass/modules/_others.scss */
  .feature-pages .feature-pages-wrapper {
    margin-top: -22px;
    position: absolute;
    width: 97%; }
    /* line 36, sass/modules/_others.scss */
    .feature-pages .feature-pages-wrapper .feature-pages-inner ul {
      margin: 0px;
      padding: 0px; }
    /* line 43, sass/modules/_others.scss */
    .feature-pages .feature-pages-wrapper .feature-pages-inner .page-grid {
      text-align: center;
      display: block;
      background-color: rgba(44, 35, 40, 0.85);
      border-top: 2px solid #FF3300; }
      /* line 51, sass/modules/_others.scss */
      .feature-pages .feature-pages-wrapper .feature-pages-inner .page-grid h3 {
        color: #FF3300;
        padding: 25px 15px 5px;
        font-size: 120%;
        margin: 0px;
        min-height: 80px; }
      /* line 58, sass/modules/_others.scss */
      .feature-pages .feature-pages-wrapper .feature-pages-inner .page-grid span {
        color: #FFFFFF;
        padding: 5px 15px 20px;
        font-size: 110%;
        display: block; }
      /* line 64, sass/modules/_others.scss */
      .feature-pages .feature-pages-wrapper .feature-pages-inner .page-grid .page-thumb-container {
        width: 100%; }
        /* line 66, sass/modules/_others.scss */
        .feature-pages .feature-pages-wrapper .feature-pages-inner .page-grid .page-thumb-container img {
          width: 100%;
          height: auto;
          margin-bottom: -8px; }
      /* line 72, sass/modules/_others.scss */
      .feature-pages .feature-pages-wrapper .feature-pages-inner .page-grid:hover {
        background-color: rgba(255, 51, 0, 0.8);
        border-top-color: #FFFFFF; }
        /* line 75, sass/modules/_others.scss */
        .feature-pages .feature-pages-wrapper .feature-pages-inner .page-grid:hover h3 {
          color: #FFFFFF; }

/* line 85, sass/modules/_others.scss */
.furniture-wrapper {
  background-color: #333336;
  text-align: center;
  padding-top: 90px; }
  /* line 90, sass/modules/_others.scss */
  .furniture-wrapper .furniture-inner ul {
    padding: 0px;
    margin: 0px; }
    /* line 93, sass/modules/_others.scss */
    .furniture-wrapper .furniture-inner ul li {
      width: 23.72881%;
      float: right;
      margin-left: 1.69492%;
      display: inline;
      text-align: center; }
      /* line 96, sass/modules/_others.scss */
      .furniture-wrapper .furniture-inner ul li a {
        display: block;
        text-align: center;
        color: #FF3300;
        opacity: 0.9; }
        /* line 101, sass/modules/_others.scss */
        .furniture-wrapper .furniture-inner ul li a:hover {
          opacity: 1;
          transform: translateY(-4px); }
        /* line 105, sass/modules/_others.scss */
        .furniture-wrapper .furniture-inner ul li a .image-wrapper {
          width: 100%; }
          /* line 107, sass/modules/_others.scss */
          .furniture-wrapper .furniture-inner ul li a .image-wrapper img {
            width: 90px;
            margin: auto;
            height: auto;
            max-width: 100%; }
        /* line 114, sass/modules/_others.scss */
        .furniture-wrapper .furniture-inner ul li a span {
          padding: 20px; }
      /* line 118, sass/modules/_others.scss */
      .furniture-wrapper .furniture-inner ul li:last-child {
        width: 23.72881%;
        float: left;
        margin-left: 0;
        *margin-right: -1em;
        display: inline; }
        /* line 120, sass/modules/_others.scss */
        .furniture-wrapper .furniture-inner ul li:last-child a {
          margin-top: 50px; }
      /* line 125, sass/modules/_others.scss */
      .furniture-wrapper .furniture-inner ul li:first-child a {
        margin-top: 50px; }
  /* line 131, sass/modules/_others.scss */
  .furniture-wrapper .furniture-inner .furniture-image-container {
    margin-bottom: -90px; }
    /* line 134, sass/modules/_others.scss */
    .furniture-wrapper .furniture-inner .furniture-image-container img {
      max-width: 100%;
      height: auto;
      margin-top: -34px; }

/* line 143, sass/modules/_others.scss */
.products-container {
  min-height: 100px;
  padding-top: 100px;
  background-color: #F2F2F2; }

/* line 149, sass/modules/_others.scss */
ul.products .product.type-product {
  text-align: center !important; }
  /* line 151, sass/modules/_others.scss */
  ul.products .product.type-product a.button.product_type_simple {
    display: none; }

/* line 157, sass/modules/_others.scss */
.vc_btn3-color-juicy-pink {
  display: none !important; }

/* line 160, sass/modules/_others.scss */
.vc_gitem-post-data-source-post_title,
.vc_gitem-post-data-source-post_excerpt {
  text-align: center !important;
  margin: 0px; }
  /* line 164, sass/modules/_others.scss */
  .vc_gitem-post-data-source-post_title h4, .vc_gitem-post-data-source-post_title h3, .vc_gitem-post-data-source-post_title p,
  .vc_gitem-post-data-source-post_excerpt h4,
  .vc_gitem-post-data-source-post_excerpt h3,
  .vc_gitem-post-data-source-post_excerpt p {
    margin: 5px;
    text-align: center !important; }

/* line 2, sass/modules/_comments.scss */
.comment-area img.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
/* line 5, sass/modules/_comments.scss */
.comment-area .bypostauthor .fn {
  color: #FF3300;
  padding: 5px; }
/* line 9, sass/modules/_comments.scss */
.comment-area .comment-metadata {
  font-size: smaller;
  float: right; }
  /* line 13, sass/modules/_comments.scss */
  .comment-area .comment-metadata .edit-link {
    padding: 5px;
    color: #FF3300; }
    /* line 16, sass/modules/_comments.scss */
    .comment-area .comment-metadata .edit-link:before {
      content: "\f040";
      padding: 5px;
      vertical-align: middle; }
/* line 24, sass/modules/_comments.scss */
.comment-area .reply {
  float: right; }
  /* line 26, sass/modules/_comments.scss */
  .comment-area .reply:before {
    content: "\f112";
    padding: 5px;
    vertical-align: middle;
    color: #FF3300; }
/* line 35, sass/modules/_comments.scss */
.comment-area .comment {
  display: block;
  overflow: hidden; }
  /* line 38, sass/modules/_comments.scss */
  .comment-area .comment .comment-body {
    overflow: hidden; }
/* line 43, sass/modules/_comments.scss */
.comment-area .comment-content {
  padding: 20px; }
@media (min-width: 45em) {
  /* line 46, sass/modules/_comments.scss */
  .comment-area .depth-1 {
    margin-left: 0; } }
@media (min-width: 45em) {
  /* line 51, sass/modules/_comments.scss */
  .comment-area .depth-2 {
    margin-left: 20px; } }
@media (min-width: 45em) {
  /* line 56, sass/modules/_comments.scss */
  .comment-area .depth-3 {
    margin-left: 40px; } }
@media (min-width: 45em) {
  /* line 61, sass/modules/_comments.scss */
  .comment-area .depth-4 {
    margin-left: 60px; } }
/* line 66, sass/modules/_comments.scss */
.comment-area .even > article {
  background-color: #F2F2F2; }

/* line 71, sass/modules/_comments.scss */
#commentform label {
  float: left;
  padding: 0 10px;
  display: inline-block;
  width: 40%; }
/* line 77, sass/modules/_comments.scss */
#commentform .form-allowed-tags {
  display: none; }

/* line 1, sass/modules/_pagination.scss */
nav.pagination {
  display: block;
  padding: 20px 10px;
  text-align: center;
  overflow: hidden;
  *zoom: 1; }
  /* line 6, sass/modules/_pagination.scss */
  nav.pagination a.page-numbers, nav.pagination span.page-numbers {
    border: 3px solid #E6E7E7;
    padding: 5px 10px;
    background-color: #F8F8F8; }
    /* line 10, sass/modules/_pagination.scss */
    nav.pagination a.page-numbers:hover, nav.pagination span.page-numbers:hover {
      background-color: #333336;
      color: #F8F8F8; }
    /* line 14, sass/modules/_pagination.scss */
    nav.pagination a.page-numbers.current, nav.pagination span.page-numbers.current {
      background-color: #FF3300;
      color: #F8F8F8; }
  /* line 19, sass/modules/_pagination.scss */
  nav.pagination span.page-numbers {
    padding: 5px 12px; }

/* line 1, sass/modules/_slider.scss */
.tp-bullets.preview1 {
  direction: ltr; }

/* setting style */
/* utilities style */
