@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}

@include keyframes(move-slow) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 1;display : inline-block  }
}

.site-header {
  display : block;
  width : 100%;
  .hero {
    position : relative;
    width : 100%;
    background-color: $white;

  }
}
nav.main-menu{
  @extend .def-box-shadow;
  width : 100%;
  min-height : 50px;
  .logo-wrapper {
    float : right;
    display : block;
    max-width : 200px;
    a.site-link{
      display : block;
      padding: 7px 20px ;
      img{

      }
    }
  }

  div.responsive-menu{
    @extend .def-transition;
    position : absolute;
    overflow-y: auto;
    top : 0px;
    right : 0px;
    width : 240px;
    max-width : 100%;
    transform : translateX(240px);
    background-color: lighten($grey4,15%);
    color : $white;
    z-index : 999;
    a{
      color : $white;
      &:hover{
        color : $red;
      }
    }

    display : block;
    @include at-breakpoint($medium){
      display : none;
    }
    &.show-menu{
      transform : translateX(0px);
    }
    a.close-responsive{
      float : left;
      display : inline-block;
      padding : 10px;
      i{
        cursor: pointer;
        &:before{
          font-size : 160%;
        }
      }
    }
    a.responsive-logo{
      float : right;
      display : inline-block;
      width : 85%;
      padding : 10px;
      img{
        margin : auto;
      }
    }

    ul.responsive-nav{
      padding : 10px;
      li{
        display : block;
        a{
          padding : 10px;
          font-size : 110%;
        }
        ul.sub-menu{
          margin : 0px;
          margin-right : 30px;
          padding :0px;
        }
      }
    }
  }
  ul.main-nav{

    display: none;
    @include at-breakpoint($medium){
      display : block;
    }
    margin : 0px;
    padding : 0px;
    position : relative;
    &>li{
      display : inline-block;
      font-size : 18px;
      color : $black1;
      &.menu-item-has-children {
        //font: normal normal normal 18px $web_yekan;
        &>a::after {
          content: "\f0d7";
          font-family: "FontAwesome";
          font-size: 68%;
          padding: 5px 5px 5px 0px;
          vertical-align: middle;
        }

      }
      a{
        padding: 10px 8px;
        display: inline-block;

        &:hover{
          background-color: $grey1;
          color : $red;
        }
      }
      ul.sub-menu{
        @include display-none;
        position: absolute;
        top : 50px;
        left : 0px;
        right : 0px;
        padding : 0px;
        margin : 0px;
        z-index : 999;
        //@include animation('move-up .5s 1');

      }
      &>ul.sub-menu{
        background-color: $grey1;
        padding :{
          right : 20px;
          left : 20px;
        }
        &>li{
          display : inline-block;
          &>a{
            border-bottom : 2px solid transparent;
            &:hover{
              border-color: $red;
            }
          }
        }
      }
      &:hover{
        &>ul.sub-menu{
          
          opacity: 1;
          visibility: visible;
          transition-delay:0s;

          //@include animation('move-down .5s 1');
        }
      }
      ul.sub-menu li ul.sub-menu{
        @extend .def-box-shadow;
        max-height : 200px;
        border : 2px solid $grey1;
        border-top : 0px;
        background-color: $white;
        top : 51px;
        left : 15px;
        right : 15px;
        padding : 10px 5px;
        -webkit-column-count: 4; /* Chrome, Safari, Opera */
        -moz-column-count: 4; /* Firefox */
        column-count: 4;
        -webkit-column-fill: auto; /* Chrome, Safari, Opera */
        -moz-column-fill: auto; /* Firefox */
        column-fill: auto;
        li{
          a{

            padding : 7px 8px;
            &:hover{
              background-color: transparent;
            }
          }
        }

      }
      ul.sub-menu li:hover{
        &>ul.sub-menu{
          
          opacity: 1;
          visibility: visible;
          transition-delay:0s;
        }

      }
    }
  }
  a.menu-toggler{
    position : absolute;
    top : 12px;
    left : 10px;
    @include at-breakpoint($medium){
      display : none;
    }
    i{

      &:before{
        @extend .def-transition;
        cursor: pointer;
        font-size: 180%;
        border: 1px dashed darken($grey2,15%);
        padding: 3px 7px;
      }
      &:hover{
        &:before{
          color : $red;
          border-color : $red;
        }
      }
    }

  }
  .search-toggler{
    position : absolute;
    top : 12px;
    left : 55px;
    display : inline-block;
    @include at-breakpoint($small){
      display :none;
    }
    i{

      &:before{
        @extend .def-transition;
        cursor: pointer;
        font-size: 180%;
        border: 1px dashed darken($grey2,15%);
        padding: 3px 7px;
      }
      &:hover{
        &:before{
          color : $red;
          border-color : $red;
        }
      }
    }
  }
  .menu-search-area{
    width : 100%;
    position : absolute;
    top : 50px;
    left : 0px;
    right : 0px;
    display : none;
    overflow:hidden;
    background-color: $white2;
    z-index : 999;
    @include at-breakpoint($small){
      top : 5px;
      left : 65px;
      right : auto;
      width : auto;
      background-color: transparent;
      display : inline-block;
    }
    @include at-breakpoint($medium){
      left : 20px;

    }
    form.searchform {


      label {
        display: none;
      }
      input[type="text"]{
        border : 1px solid $grey2;
        @include border-radius(5px);
        border : 1px solid $grey2;
        background-color: $white !important;
        max-width :100%;
        width: 98%;
        margin: 1%;
        padding: 3px 10px !important;
        font-size: 120%;
        @include at-breakpoint($small){
          @include border-left-radius(0px);
          max-width : 180px;
          margin : auto;
          width : 180px;
        }
      }
      i.fa.fa-search{
        cursor: pointer;
        display : none;
        margin-right : -4px;
        @include at-breakpoint($small){
          display : inline-block !important;
        }
        &:before{
          background-color: $grey2;
          @include border-left-radius(5px);
          border : 1px solid $grey2;
          color : lighten($grey4,15%);
          font-size : 110%;
          padding: 10px;
          vertical-align: middle;


        }
        &:hover{
          &:before{
            color : $grey4;
          }
        }
      }
    }
  }
}