.site-header {
  display : block;
  width : 100%;
  .hero {
    position : relative;
    width : 100%;
    .logo-wrapper {
      float : right;
      display : block;
      max-width : 200px;
      a.site-link{
        display : block;
        img{

        }
      }
    }
  }
}
nav.main-menu{
  div.responsive-menu{
    display: none;
  }
}