/* main style */

//--------------primary-------------------
.primary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(9 omega,12);
	}
	padding:{
		top :20px;
		bottom : 20px;
	}

	.section-title{
		margin : 0px;
		margin-bottom : 5px;
		padding : 5px 10px;
		font-size : 110%;
		color : $grey4;
		display : inline-block;
		position: relative;
		&:before{
			display : block;
			content : "";
			width : 1000%;
			height : 3px;
			background-color : $grey2;
			position : absolute;
			top : 43%;
			right : 100%;
		}
		&:after{
			display : block;
			content : "";
			width : 30px;
			height : 3px;
			background-color : $red;
			position : absolute;
			top : 43%;
			right : 100%;
		}

	}
}

/*-----------------featured pages ----------------*/
.featured-pages-wrap{
	@extend .white-box;
	margin-bottom: 20px;

	section.layout{
		padding : 0px;
		margin-top : 10px;
	}
	a.page-grid{
		@extend .def-transition;
		background-color: $grey2;
		margin-bottom : 10px;
		text-align : center;
		padding-top : 10px;
		@include border-radius(3px);
		@include span-columns(12,12);
		@include at-breakpoint($small $medium){
			padding-top : 0px;
			@include span-columns(4,12);
			&:nth-of-type(3n){
				@include omega;
			}
		}
		@include at-breakpoint($medium){
			padding-top : 0px;
			@include span-columns(3,12);
			&:nth-of-type(4n){
				@include omega;
			}
		}
		.page-grid-thumbnail{

			img{
				max-width : 100%;
				height : auto;

			}
		}
		.page-grid-title{
			position: relative;
			text-align: center;
			padding-bottom: 3px;
			display: block;
			margin-top : -3px;
			&::after{
				@extend .def-transition;
				display : block;
				content : "";
				width : 0px;
				height : 2px;
				background-color : $red;
				position : absolute;
				bottom : 0px;
				right : 0;
			}
		}

		&:hover{
			.page-grid-title::after{
				width : 100%;
				left : 0px;
			}
		}

	}
}

//---------------page content desc---------------
.page-content-desc{
	@extend .white-box;
	margin-bottom : 20px;

	p{
		margin : 10px;
	}
}

//---------------items block----------------------
.items-block{
	@extend .white-box;
	margin-bottom : 20px;
	ul.items-list{
		margin : 0px;
		padding : 0px;
		li{
			@extend .def-transition;
			border-bottom: 1px solid $grey2;
			padding : 5px;
			a{

				display :block;
				overflow: hidden;
				.item-thumb{
					display: inline-block;
					max-height : 80px;
					max-width : 80px;
					float : right;
					img{
						padding : 3px;
						background-color: $grey2;
						max-width : 80px;
						max-height : 80px;
						height : auto;
					}
				}
				.item-detail {
					display: inline-block;
					padding-right : 8px;
					width : calc(100% - 100px);
					.item-title {
						padding : 5px 10px;
						margin : 0px;
					}
					.item-desc {
						//padding : 1px 10px;
						p{
							margin :0px;
						}
					}
				}

			}
			&:hover{
				background-color: $grey1;
			}
			&:last-child{
				border : 0px;
			}
		}
	}
	.more-items-container {
		overflow: hidden;
		a.more-items {
			float : left;
			position: relative;
			display: inline-block;
			padding-right : 10px;
			font-size: 90%;
			i:before{
				padding-right : 5px;
				vertical-align: middle;
			}
			&:before{
				left : 100%;
				width : 1000%;
				background-color: $grey1;
				content : "";
				top : 46%;
				display : inline-block;
				position: absolute;
				height: 2px;
			}
		}
	}
}