/* main style */

.layout{
	@include container;
	position : relative;
}
body{
	width : 100%;
	background-color : $grey2;
	margin : auto;
	z-index : 1;
}
.body-wrapper{
	width : 100%;
	background-color : $white;
	margin:auto;
	overflow : hidden;
}


//-------------site-content-------------------
.primary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(8 omega,12);
	}
	padding:{
		top :20px;
		bottom : 20px;
	}
	ul.projects-list{
		li {
			width : 100%;
			padding : 8px 20px;
			background-color: $white2;
			border : 1px solid $grey2;
			border-bottom : 0px;
			&:nth-of-type(2n){
				background-color: darken($grey1,5%);
			}
			&.project-link:hover{
				background-color: darken($grey1, 10%);
			}
			&:last-child{
				border-bottom : 1px solid $grey2;
			}
		}
	}

}
.secondary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(4 ,12);
	}
	display : block;

	padding:{
		top :20px;
		bottom : 20px;
	}


}

/*-----------------page templates correction ----------------*/
