/* main style */

//--------------primary-------------------
.primary{
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(9 omega,12);
	}
	padding:{
		top :20px;
		bottom : 20px;
	}
	.archive-title{
		@extend .white-box;
		margin-bottom : 20px;
		padding : 10px 10px 5px;
		input#s{
			margin-bottom: 5px;
			margin-right : 5px;
			width : 80%;
			padding : 6px;
		}
	}
	.section-title{
		margin : 0px;
		margin-bottom : 5px;
		padding: 10px 15px 5px;
		font-size: 140%;

		color : $grey4;
		display : inline-block;
		position: relative;
		&:before{
			display : block;
			content : "";
			width : 1000%;
			height : 3px;
			background-color : $grey2;
			position : absolute;
			top : 50%;
			right : 100%;
		}
		&:after{
			display : block;
			content : "";
			width : 30px;
			height : 3px;
			background-color : $red;
			position : absolute;
			top : 50%;
			right : 100%;
		}



	}
}

/*-----------------featured pages ----------------*/
.featured-pages-wrap{
	@extend .white-box;
	margin-bottom: 20px;

	section.layout{
		padding : 0px;
		margin-top : 10px;
	}
	a.page-grid{
		@extend .def-transition;
		background-color: $grey2;
		margin-bottom : 10px;
		text-align : center;
		padding-top : 10px;
		@include border-radius(3px);
		@include span-columns(12,12);
		@include at-breakpoint($small $medium){
			padding-top : 0px;
			@include span-columns(4,12);
			&:nth-of-type(3n){
				@include omega;
			}
		}
		@include at-breakpoint($medium){
			padding-top : 0px;
			@include span-columns(3,12);
			&:nth-of-type(4n){
				@include omega;
			}
		}
		.page-grid-thumbnail{

			img{
				max-width : 100%;
				height : auto;

			}
		}
		.page-grid-title{
			position: relative;
			text-align: center;
			padding-bottom: 3px;
			display: block;
			margin-top : -3px;
			&::after{
				@extend .def-transition;
				display : block;
				content : "";
				width : 0px;
				height : 2px;
				background-color : $red;
				position : absolute;
				bottom : 0px;
				right : 0;
			}
		}

		&:hover{
			.page-grid-title::after{
				width : 100%;
				left : 0px;
			}
		}

	}
}

//---------------page content desc---------------
.page-content-desc{
	@extend .white-box;
	margin-bottom : 20px;

	p{
		margin : 10px 15px;
	}
	h1,h2,h3,h4.h5{
		padding : 0px 15px;
	}
}

//---------------items block----------------------
.items-block{
	@extend .white-box;
	margin-bottom : 20px;
	.items-list{
		margin : 0px;
		padding : 0px;
		a.item-unit{
			@extend .def-transition;
			background-color: $grey2;
			margin-bottom : 10px;
			text-align : center;
			padding-top : 10px;
			@include border-radius(3px);
			@include span-columns(12,12);
			@include at-breakpoint($small $medium){
				padding-top : 0px;
				@include span-columns(4,12);
				&:nth-of-type(3n){
					@include omega;
				}
			}
			@include at-breakpoint($medium){
				padding-top : 0px;
				@include span-columns(3,12);
				&:nth-of-type(4n){
					@include omega;
				}
			}
			.item-thumb{

				img{
					max-width : 100%;
					height : auto;

				}
			}
			.item-detail {
				.item-title {
					position: relative;
					text-align: center;
					padding-bottom: 3px;
					display: block;
					margin-top: 0px;
					margin-bottom: 0px;
					&::after {
						@extend .def-transition;
						display: block;
						content: "";
						width: 0px;
						height: 2px;
						background-color: $red;
						position: absolute;
						top: -7px;
						right: 0;
					}
				}
				.item-desc{
					font-size : 90%;
					padding: 5px 5px 5px;
					display: block;
				}
			}

			&:hover{
				.item-title::after{
					width : 100%;
					left : 0px;
				}
			}

		}
	}
	.more-items-container {
		overflow: hidden;
		a.more-items {
			float : left;
			position: relative;
			display: inline-block;
			padding-right : 10px;
			font-size: 90%;
			i:before{
				padding-right : 5px;
				vertical-align: middle;
			}
			&:before{
				left : 100%;
				width : 1000%;
				background-color: $grey1;
				content : "";
				top : 46%;
				display : inline-block;
				position: absolute;
				height: 2px;
			}
		}
	}
}

//---------------Related Article Block -----------
.articles-block{
	@extend .white-box;
	margin-bottom : 20px;
	.articles-list{
		margin : 0px;
		padding : 0px;
		a.article-unit{
			@extend .def-transition;
			background-color: $grey2;
			margin-bottom : 10px;
			text-align : center;
			padding-top : 10px;
			@include border-radius(3px);
			@include span-columns(12,12);
			@include at-breakpoint($small $medium){
				padding-top : 0px;
				@include span-columns(4,12);
				&:nth-of-type(3n){
					@include omega;
				}
			}
			@include at-breakpoint($medium){
				padding-top : 0px;
				@include span-columns(3,12);
				&:nth-of-type(4n){
					@include omega;
				}
			}
			.article-thumb{

				img{
					max-width : 100%;
					height : auto;

				}
			}
			.article-detail {
				.article-title {
					position: relative;
					text-align: center;
					padding-bottom: 0px;
					display: block;
					margin-top: -1px;
					margin-bottom: 0px;
					font-weight: normal;
					font-size : 90%;

					&::after {
						@extend .def-transition;
						display: block;
						content: "";
						width: 0px;
						height: 2px;
						background-color: $red;
						position: absolute;
						top: -7px;
						right: 0;
					}
				}
				.article-desc{
					font-size : 90%;
					padding: 5px 5px 5px;
					display: block;
				}
			}

			&:hover{
				.article-title::after{
					width : 100%;
					left : 0px;
				}
			}

		}
	}
	.more-articles-container {
		overflow: hidden;
		a.more-articles {
			float : left;
			position: relative;
			display: inline-block;
			padding-right : 10px;
			font-size: 90%;
			i:before{
				padding-right : 5px;
				vertical-align: middle;
			}
			&:before{
				left : 100%;
				width : 1000%;
				background-color: $grey1;
				content : "";
				top : 46%;
				display : inline-block;
				position: absolute;
				height: 2px;
			}
		}
	}
}
/*------------------archive--------------------*/
article.archive-article{
	@extend .white-box;
	padding : 0px;
	overflow: hidden;
	@include span-columns(12,12);
	@include at-breakpoint($medium){
		@include span-columns(6,12);
		&:nth-of-type(2n){
			@include omega;

		}
		margin-right : auto
	}
	margin-bottom : 10px;
	.featured-image{
		a{
			display: block;
			position: relative;
			width : 100%;
			border-bottom : 1px solid $grey3;
			text-align: center;
			padding : 9px 8px 0px;
			background-color: lighten($grey2,3%);
			img{
				max-width : 100%;
			}
			&:after{
				@include single-transition(all ,2s , ease-in-out);
				display: block;
				content : "";
				position: absolute;
				bottom : -1px;
				right : 0px;
				left : auto;
				height : 1px;
				width : 0px;
				background-color: $red;
			}
		}
	}
	.article-title{
		a{
			display : block;
			h3,h2,h1,h4{
				padding: 10px 15px 8px;
				margin: 0px;
				font-size: 110%;
			}
		}
	}
	.article-body{
		p{
			margin : 8px 15px;
			font-size : 90%;
		}
	}
	.article-footer{
		display: block;
		overflow: hidden;
		background-color: lighten($grey2,5%);
		border-top : 1px solid $grey3;
		.post-meta{
			ul.post-meta-list{
				margin : 0px;
				padding: 5px 10px;
				font-size: 90%;
				li{
					displau : inline-block;
					&.posted-on{
						padding-left: 5px;
						display : inline-block;
						overflow: hidden;
						i::before{
							color : darken($grey3,15%);
							vertical-align: middle;
							padding-left : 5px;
						}
					}
					&.meta-tag{
						float : left;
						padding-left: 5px;
						display : inline-block;
						overflow: hidden;
						a{
							color : $red;
						}
						i::before{
							color : darken($grey3,15%);
							vertical-align: middle;
							padding-left : 5px;
						}
					}
				}
			}
		}
	}

	&:hover{
		.featured-image{
			a:after{
				width : 100%;
				left : 0px;
			}
		}
	}
}
.single-article{
	@extend .white-box;
	padding : 0px;
	.featured-image{
		a{
			display: block;
			position: relative;
			width : 100%;
			border-bottom : 1px solid $grey3;
			text-align: center;
			padding : 9px 8px 0px;
			background-color: lighten($grey2,3%);
			img{
				max-width : 100%;
			}
			&:after{
				@include single-transition(all ,2s , ease-in-out);
				display: block;
				content : "";
				position: absolute;
				bottom : -1px;
				right : 0px;
				left : auto;
				height : 1px;
				width : 0px;
				background-color: $red;
			}
		}
	}
	.article-title{
		h1{
			padding: 20px 15px 10px;
			font-size: 140%;
			&:after,&:before{
				top : 57%;
			}
		}
	}
	.article-body{
		padding-bottom: 10px;
		p{
			margin : 8px 15px;
			font-size : 90%;
		}
	}
	.article-footer{
		display: block;
		overflow: hidden;
		background-color: lighten($grey2,5%);
		border-top : 1px solid $grey3;
		.post-meta{
			ul.post-meta-list{
				margin : 0px;
				padding: 5px 10px;
				font-size: 90%;
				li{
					displau : inline-block;
					&.posted-on{
						padding-left: 5px;
						display : inline-block;
						overflow: hidden;
						i::before{
							color : darken($grey3,15%);
							vertical-align: middle;
							padding-left : 5px;
						}
					}
					&.meta-tag{
						float : left;
						padding-left: 5px;
						display : inline-block;
						overflow: hidden;
						a{
							color : $red;
						}
						i::before{
							color : darken($grey3,15%);
							vertical-align: middle;
							padding-left : 5px;
						}
					}
				}
			}
		}
	}

}