.feature-posts{
  @extend .white-box;
  position: relative;
  min-height : 250px;
  margin-bottom : 20px;
  #NextPageBtn,#PrevPageBtn{
    position: absolute;
    top : 120px;
    i{
      &:before{
        display : inline-block;
        padding : 10px 20px;
        font-size : 180%;
        background-color: $glassyBlack;
        color: $white;
        @include border-radius(30px);
      }
    }
    &:hover{
      i:before{
        background-color: #FF3300;
      }
    }
  }
  #NextPageBtn{
    right : 2%;
  }
  #PrevPageBtn{
    left : 2%;
  }
  .feature-posts-wrapper {
    direction: ltr;
    position: absolute;
    width : 97%;
    .feature-posts-inner {
      ul {
        margin: 0px;
        padding: 0px;
        li {

        }
      }
      .page-grid {

        @extend .def-transition;
        text-align: center;
        display: block;

        background-color: $glassyBlack;
        border-top: 2px solid $red;
        h3 {
          color: $red;
          padding: 25px 15px 5px;
          font-size: 120%;
          margin: 0px;
          min-height: 80px;
        }
        span {
          color: $white;
          padding: 5px 15px 20px;
          font-size: 110%;
          display: block;
        }
        .page-thumb-container {
          width: 100%;
          img {
            width: 100%;
            height: auto;
            margin-bottom: -8px;
          }
        }
        &:hover {
          background-color: $glassyRed;
          border-top-color: $white;
          h3 {
            color: $white;
          }

        }
      }
    }
  }
}