
#commentform{
  label{
    float: left;
    padding: 0 10px;
    display: inline-block;
    width: 40%;
  }
  .form-allowed-tags{
    display: none;
  }
}

.comment-area{
  .comment-reply-title{
    margin : 0px;
  }
  .comments-title,.comment-reply-title{
    display : inline-block;
    position: relative;
    padding :20px 15px;
    font-size: 120%;

    &:before{
      display : block;
      content : "";
      width : 1000%;
      height : 3px;
      background-color : $grey1;
      position : absolute;
      top : 50%;
      right : 100%;
    }
    &:after{
      display : block;
      content : "";
      width : 30px;
      height : 3px;
      background-color : $red;
      position : absolute;
      top : 50%;
      right : 100%;
    }
  }



  .comment{
    display : block;
    overflow : hidden;
    .comment-body{

      overflow : hidden;
    }
  }


  .depth-1{
    @include at-breakpoint($medium) {
      margin-left : auto;
      margin-right : 0px;
    }
  }
  .depth-2{
    @include at-breakpoint($medium) {
      margin-left : auto;
      margin-right : 20px;
    }
  }
  .depth-3{
    @include at-breakpoint($medium) {
      margin-left : auto;
      margin-right : 40px;
    }
  }
  .depth-4{
    @include at-breakpoint($medium) {
      margin-left : auto;
      margin-right : 60px;
    }
  }
  article{
    position: relative;
    .comment-meta{
      width: 80px;
      float : right;
      img.avatar{
        @include border-radius(50%);
        background-color: $white;
        padding : 3px;
      }
      .comment-author {
        text-align: center;
        .fn {
          color: $red;
          font-size: 90%;
          margin-top: -5px;
        }
        span.says{
          display: none;
        }
      }
      .comment-metadata {
        position: absolute;
        top : 5px;
        left : 10px;
        font-size : 80%;
        .edit-link {
          padding: 5px;
          color: $red;
          &:before {
            @extend .fa;
            content: "\f040";
            padding: 5px;
            vertical-align: middle;
          }
        }
      }
    }
    .reply{
      font-size: 80%;
      position: absolute;
      bottom : 5px;
      left : 10px;
      i:before{
        padding-right : 5px;
        color : $red2;
      }
      //margin-bottom :15px;
    }

    .comment-content{
      @extend .white-box;
      background-color: $grey1;
      width : calc(100% - 90px);
      float : left;
      padding : 20px;
      min-height: 120px;
    }

  }
}
.comment-list{
  margin: 0px;
  padding: 0px;
  li{
    &.even{
      .comment-content{
        background-color: $white;
      }
    }
    &.odd{
      .comment-content{
        background-color: $grey1;
      }
    }

    ol.children{
      padding : 0px;
    }
    padding: 0px;
  }
}
#commentform{
  padding: 10px;
  p{
    margin : 0px;
    &.comment-form-author,
    &.comment-form-email,
    &.comment-form-url,
    &.form-submit{
      margin : 10px auto;
      i:before{
        color : darken($grey3,20%);
        padding-left : 5px;
      }
    }
  }
  label{
    float: right;
  }
  textarea{
    max-height: 150px;
    padding : 5px 10px;
    @include border-radius(4px);
    border-color : $grey3;
    outline : none;
  }
  input{
    padding : 5px 10px;
    @include border-radius(4px);
    border-color : $grey3;
    outline : none;
  }

}

