nav.pagination{
	display : block;
	padding : 20px 10px;
	text-align : center;
	@include clearfix;
	a.page-numbers,span.page-numbers{
		border : 3px solid $grey2;
		padding : 5px 10px;
		background-color: $white2;
		&:hover {
			background-color: $grey4;
			color : $white2;
		}
		&.current{
			background-color: $red;
			color : $white2;
		}
	}
	span.page-numbers{
		padding : 5px 12px;
	}
}

