/* header style */
.top-bar{
  text-align : left ;
  padding-left : 1px;
  padding-right : 30px;
  .lang-icon{
    padding :{
      right : 8px;
      left : 1px;
    }
  }
  #lang_sel_list {
    float : left;
    padding-left: 25px;
    padding-right : 1px;
  }
  .header-follow-links{
    float : right;
  }

}
.hero{
  .logo-wrapper{
    @include span-columns(12,12);
    @include at-breakpoint($slarg){
      @include span-columns(3,12);
      margin-right : auto;
      float : right;
    }
    a.menu-toggler{

    }


  }
  a.search-toggler {

    @include at-breakpoint($slarg){
      right: auto;
      left : -10px;
    }
  }
  .menu-search-area{
    input{
      float : right;
    }
    @include at-breakpoint($slarg) {
      left : 0px;
      right : auto;
    }
  }
}

// ---------- NAVIGATION---------------------------------
@include keyframes(move-up) {
  0%   { opacity : 0;display:none; }
  100% { opacity : 1;display :inline-block; }
}
@include keyframes(move-down) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 0;display : none  }
}

@include keyframes(move-slow) {
  0%   { opacity : 1;display : inline-block; }
  100% { opacity : 1;display : inline-block  }
}






nav.main-menu{
  @include at-breakpoint($slarg){
    @include span-columns(9 omega,12);
    margin-right : auto;
  }


  .responsive-menu{
    right : -250px;
    left : auto;
    &.show-menu{
      transform : translateX(-250px);
    }
    a.close-responsive{
      float : left
    }
    ul.responsive-nav{

      ul.sub-menu{
        margin-left : auto;
        margin-right : 30px;
        padding : 0px;
        a{
          &:before{
            right: -20px;
            left : auto;
            content: "\f177";
          }
        }
      }
    }
  }

}

ul.main-nav{
  &>li.menu-item-has-children>a:after{
    @extend .fa;
    content: "\f0d7";
    padding-right: 5px;
    padding-left: 1px;
    left: 1px;
    right: auto;
  }

  &>li>ul.sub-menu,li ul.sub-menu{
    @extend .dark-box-shadow;
    right: -30%;
    left : auto;
    li.menu-item-has-children>a:after{
      @extend .fa;
      content: "\f0d9";
      left: 12px;
      right: auto;
    }
  }

  &>li>ul.sub-menu li ul{
    right: 100%;
    left : auto;
  }
  ul.sub-menu li:hover ul{
    right: 100%;
    left : auto;
  }
  li.item-home a:before{
    margin-left: 7px;
    margin-right: auto;
  }

  &>li.mega-menu{
    &>ul.sub-menu{
      right: -85%;
      left : auto;
      }
      &>.sub-menu-wrap>li{
        background : none;
        @include span-columns(3,12);
        margin-right : auto;
        border-right: 1px solid $grey2;
        border-left : 0px;
        &:first-child{
          border : 0px;
        }
        @include at-breakpoint(62em){
          @include span-columns(2,12);
          width : 17%;
          margin-right : auto;
        }
        margin-right : auto;
        ul.sub-menu{
          right : auto;
          left : auto;
          top : auto;
        }
        &.menu-item-has-children>a:after{
          content : "";
        }
      }


    &:hover>ul.sub-menu>.sub-menu-wrap>li>ul{
      display : inline-block;
      visibility: visible !important;
      opacity : 1 !important;
      animation : none !important;
      -webkit-animation: none !important;
    }
    &>ul.sub-menu>.sub-menu-wrap>li:hover>ul>li,
    &>ul.sub-menu>.sub-menu-wrap>li>ul>li{
      animation : none !important;
      -webkit-animation: none !important;

    }


  }
  .product-item {
    img{
      margin-left: 5px;
      margin-right : auto;
    }
  }

}
li.mega-menu{
  li.menu-item{
    &>a img {
      float: right;
      margin-lrft : 5px;
      margin-right : auto;
      vertical-align: -webkit-baseline-middle;
    }
    &>a{
      text-align : right;
    }
  }
}

