/* fonts */
@font-face {
  font-family: "Weblogma_Yekan";
  src: url('../fonts/Yekan.eot?1466144846');
  src: url('../fonts/Yekan.eot?&1466144846#iefix') format('embedded-opentype'), url('../fonts/Yekan.ttf?1466144846') format('truetype'), url('../fonts/Yekan.woff?1466144846') format('woff');
  font-weight: "Yekan.svg"; }
/* ------------susy-------- */
/* line 14, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.2/sass/susy/language/susyone/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 19, ../sass/rtl/base/_variables.scss */
.fullwidth {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }

/* line 22, ../sass/rtl/base/_variables.scss */
.oneSecond {
  width: 49.15254%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 24, ../sass/rtl/base/_variables.scss */
  .oneSecond:first-child {
    width: 49.15254%;
    float: left;
    margin-left: 0;
    *margin-right: -1em;
    display: inline; }

/* line 30, ../sass/rtl/base/_variables.scss */
.oneThird {
  width: 32.20339%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 32, ../sass/rtl/base/_variables.scss */
  .oneThird:first-child {
    width: 32.20339%;
    float: left;
    margin-left: 0;
    *margin-right: -1em;
    display: inline; }

/* line 38, ../sass/rtl/base/_variables.scss */
.oneFourth {
  width: 23.72881%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 40, ../sass/rtl/base/_variables.scss */
  .oneFourth:first-child {
    width: 23.72881%;
    float: left;
    margin-left: 0;
    *margin-right: -1em;
    display: inline; }

/* line 45, ../sass/rtl/base/_variables.scss */
.Fifth {
  width: 40.67797%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }

/* line 49, ../sass/rtl/base/_variables.scss */
.lastGrid {
  float: left;
  margin-left: 0;
  *margin-right: -1em;
  display: inline; }

/*------ colors -----------*/
/*----------------transition-shadow----------------------*/
/* line 95, ../sass/rtl/base/_variables.scss */
.def-transition, .bottom-tooltip {
  -moz-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: all 0.4s ease-in-out 0s; }

/*----------------box-shadow----------------------*/
/* line 101, ../sass/rtl/base/_variables.scss */
.def-box-shadow, .bottom-tooltip {
  -moz-box-shadow: 0px 0px 7px #E6E7E7;
  -webkit-box-shadow: 0px 0px 7px #E6E7E7;
  box-shadow: 0px 0px 7px #E6E7E7; }

/* line 104, ../sass/rtl/base/_variables.scss */
.dark-box-shadow, ul.main-nav li ul.sub-menu {
  -moz-box-shadow: 0px 0px 5px #292929;
  -webkit-box-shadow: 0px 0px 5px #292929;
  box-shadow: 0px 0px 5px #292929; }

/* line 107, ../sass/rtl/base/_variables.scss */
.gol-box-shadow {
  -moz-box-shadow: 0px 0px 8px #FF585B;
  -webkit-box-shadow: 0px 0px 8px #FF585B;
  box-shadow: 0px 0px 8px #FF585B; }

/* line 110, ../sass/rtl/base/_variables.scss */
.green-box-shadow {
  -moz-box-shadow: 0px 0px 6px #147e07;
  -webkit-box-shadow: 0px 0px 6px #147e07;
  box-shadow: 0px 0px 6px #147e07; }

/* line 114, ../sass/rtl/base/_variables.scss */
.def-text-shadow {
  color: #0d3f64;
  text-shadow: inset 1px 4px 6px #092b44, inset 0 0 0 #282828, inset 1px 4px 6px #092b44; }

@-moz-keyframes move-up {
  0% {
    filter: alpha(opacity=0);
    display: inline-block; }
  100% {
    filter: alpha(opacity=100);
    display: inline-block; } }
@-webkit-keyframes move-up {
  0% {
    filter: alpha(opacity=0);
    display: inline-block; }
  100% {
    filter: alpha(opacity=100);
    display: inline-block; } }
@keyframes move-up {
  0% {
    filter: alpha(opacity=0);
    display: inline-block; }
  100% {
    filter: alpha(opacity=100);
    display: inline-block; } }
@-moz-keyframes move-down {
  0% {
    filter: alpha(opacity=0);
    display: inline-block; }
  100% {
    filter: alpha(opacity=0);
    display: none; } }
@-webkit-keyframes move-down {
  0% {
    filter: alpha(opacity=0);
    display: inline-block; }
  100% {
    filter: alpha(opacity=0);
    display: none; } }
@keyframes move-down {
  0% {
    filter: alpha(opacity=0);
    display: inline-block; }
  100% {
    filter: alpha(opacity=0);
    display: none; } }
/* line 134, ../sass/rtl/base/_variables.scss */
.bottom-tooltip {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 100px;
  height: auto;
  line-height: 20px;
  padding: 10px;
  left: 88%;
  margin-left: -64px;
  color: #125688;
  text-align: center;
  border: 4px solid #F2F2F2;
  background: #ffffff;
  z-index: 9999;
  text-indent: 0px;
  position: absolute;
  pointer-events: none;
  top: 70px;
  filter: alpha(opacity=0); }
  /* line 154, ../sass/rtl/base/_variables.scss */
  .bottom-tooltip:before, .bottom-tooltip:after {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #000000; }
  /* line 166, ../sass/rtl/base/_variables.scss */
  .bottom-tooltip:after {
    top: -14px;
    margin-left: -10px;
    border-bottom: 10px solid #FFFFFF; }

/* base style */
/* line 2, ../sass/rtl/base/_base.scss */
body {
  font-family: "Weblogma_Yekan";
  direction: rtl;
  font-size: 100%;
  line-height: 180%;
  font-weight: normal; }
  /* line 8, ../sass/rtl/base/_base.scss */
  body form {
    direction: rtl;
    text-align: right; }

/* line 13, ../sass/rtl/base/_base.scss */
.fa, ul.main-nav > li.menu-item-has-children > a:after, ul.main-nav li ul.sub-menu li.menu-item-has-children > a:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); }

/* line 17, ../sass/rtl/base/_base.scss */
.gallery {
  margin-right: -4px;
  margin-left: auto; }

/* line 23, ../sass/rtl/base/_base.scss */
.gallery-item {
  float: right;
  margin: 0 0px 4px 4px; }

/* line 29, ../sass/rtl/base/_base.scss */
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: auto;
  margin-left: 0; }

/* line 42, ../sass/rtl/base/_base.scss */
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: right; }

/* line 49, ../sass/rtl/base/_base.scss */
.gallery-caption {
  left: auto;
  right: 0;
  text-align: right; }

/* line 56, ../sass/rtl/base/_base.scss */
.gallery-caption:before {
  left: auto;
  right: 0; }

/* header style */
/* line 2, ../sass/rtl/layout/_header.scss */
.top-bar {
  text-align: left;
  padding-left: 1px;
  padding-right: 30px; }
  /* line 6, ../sass/rtl/layout/_header.scss */
  .top-bar .lang-icon {
    padding-right: 8px;
    padding-left: 1px; }
  /* line 12, ../sass/rtl/layout/_header.scss */
  .top-bar #lang_sel_list {
    float: left;
    padding-left: 25px;
    padding-right: 1px; }
  /* line 17, ../sass/rtl/layout/_header.scss */
  .top-bar .header-follow-links {
    float: right; }

/* line 23, ../sass/rtl/layout/_header.scss */
.hero .logo-wrapper {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
/* line 44, ../sass/rtl/layout/_header.scss */
.hero .menu-search-area input {
  float: right; }

@-moz-keyframes move-up {
  0% {
    filter: alpha(opacity=0);
    display: none; }
  100% {
    filter: alpha(opacity=100);
    display: inline-block; } }
@-webkit-keyframes move-up {
  0% {
    filter: alpha(opacity=0);
    display: none; }
  100% {
    filter: alpha(opacity=100);
    display: inline-block; } }
@keyframes move-up {
  0% {
    filter: alpha(opacity=0);
    display: none; }
  100% {
    filter: alpha(opacity=100);
    display: inline-block; } }
@-moz-keyframes move-down {
  0% {
    filter: alpha(opacity=100);
    display: inline-block; }
  100% {
    filter: alpha(opacity=0);
    display: none; } }
@-webkit-keyframes move-down {
  0% {
    filter: alpha(opacity=100);
    display: inline-block; }
  100% {
    filter: alpha(opacity=0);
    display: none; } }
@keyframes move-down {
  0% {
    filter: alpha(opacity=100);
    display: inline-block; }
  100% {
    filter: alpha(opacity=0);
    display: none; } }
@-moz-keyframes move-slow {
  0% {
    filter: alpha(opacity=100);
    display: inline-block; }
  100% {
    filter: alpha(opacity=100);
    display: inline-block; } }
@-webkit-keyframes move-slow {
  0% {
    filter: alpha(opacity=100);
    display: inline-block; }
  100% {
    filter: alpha(opacity=100);
    display: inline-block; } }
@keyframes move-slow {
  0% {
    filter: alpha(opacity=100);
    display: inline-block; }
  100% {
    filter: alpha(opacity=100);
    display: inline-block; } }
/* line 81, ../sass/rtl/layout/_header.scss */
nav.main-menu .responsive-menu {
  right: -250px;
  left: auto; }
  /* line 84, ../sass/rtl/layout/_header.scss */
  nav.main-menu .responsive-menu.show-menu {
    transform: translateX(-250px); }
  /* line 87, ../sass/rtl/layout/_header.scss */
  nav.main-menu .responsive-menu a.close-responsive {
    float: left; }
  /* line 92, ../sass/rtl/layout/_header.scss */
  nav.main-menu .responsive-menu ul.responsive-nav ul.sub-menu {
    margin-left: auto;
    margin-right: 30px;
    padding: 0px; }
    /* line 97, ../sass/rtl/layout/_header.scss */
    nav.main-menu .responsive-menu ul.responsive-nav ul.sub-menu a:before {
      right: -20px;
      left: auto;
      content: "\f177"; }

/* line 110, ../sass/rtl/layout/_header.scss */
ul.main-nav > li.menu-item-has-children > a:after {
  content: "\f0d7";
  padding-right: 5px;
  padding-left: 1px;
  left: 1px;
  right: auto; }
/* line 119, ../sass/rtl/layout/_header.scss */
ul.main-nav > li > ul.sub-menu, ul.main-nav li ul.sub-menu {
  right: -30%;
  left: auto; }
  /* line 123, ../sass/rtl/layout/_header.scss */
  ul.main-nav > li > ul.sub-menu li.menu-item-has-children > a:after, ul.main-nav li ul.sub-menu li.menu-item-has-children > a:after {
    content: "\f0d9";
    left: 12px;
    right: auto; }
/* line 131, ../sass/rtl/layout/_header.scss */
ul.main-nav > li > ul.sub-menu li ul {
  right: 100%;
  left: auto; }
/* line 135, ../sass/rtl/layout/_header.scss */
ul.main-nav ul.sub-menu li:hover ul {
  right: 100%;
  left: auto; }
/* line 139, ../sass/rtl/layout/_header.scss */
ul.main-nav li.item-home a:before {
  margin-left: 7px;
  margin-right: auto; }
/* line 145, ../sass/rtl/layout/_header.scss */
ul.main-nav > li.mega-menu > ul.sub-menu {
  right: -85%;
  left: auto; }
/* line 149, ../sass/rtl/layout/_header.scss */
ul.main-nav > li.mega-menu > .sub-menu-wrap > li {
  background: none;
  width: 23.72881%;
  float: right;
  margin-left: 1.69492%;
  display: inline;
  margin-right: auto;
  border-right: 1px solid #E6E7E7;
  border-left: 0px;
  margin-right: auto; }
  /* line 155, ../sass/rtl/layout/_header.scss */
  ul.main-nav > li.mega-menu > .sub-menu-wrap > li:first-child {
    border: 0px; }
  /* line 149, ../sass/rtl/layout/_header.scss */
  ul.main-nav > li.mega-menu > .sub-menu-wrap > li {
  width: 15.25424%;
  float: right;
  margin-left: 1.69492%;
  width: 17%;
  margin-right: auto; }
  /* line 164, ../sass/rtl/layout/_header.scss */
  ul.main-nav > li.mega-menu > .sub-menu-wrap > li ul.sub-menu {
    right: auto;
    left: auto;
    top: auto; }
  /* line 169, ../sass/rtl/layout/_header.scss */
  ul.main-nav > li.mega-menu > .sub-menu-wrap > li.menu-item-has-children > a:after {
    content: ""; }
/* line 175, ../sass/rtl/layout/_header.scss */
ul.main-nav > li.mega-menu:hover > ul.sub-menu > .sub-menu-wrap > li > ul {
  display: inline-block;
  visibility: visible !important;
  filter: alpha(opacity=100) !important;
  animation: none !important;
  -webkit-animation: none !important; }
/* line 182, ../sass/rtl/layout/_header.scss */
ul.main-nav > li.mega-menu > ul.sub-menu > .sub-menu-wrap > li:hover > ul > li, ul.main-nav > li.mega-menu > ul.sub-menu > .sub-menu-wrap > li > ul > li {
  animation: none !important;
  -webkit-animation: none !important; }
/* line 192, ../sass/rtl/layout/_header.scss */
ul.main-nav .product-item img {
  margin-left: 5px;
  margin-right: auto; }

/* line 201, ../sass/rtl/layout/_header.scss */
li.mega-menu li.menu-item > a img {
  float: right;
  margin-lrft: 5px;
  margin-right: auto;
  vertical-align: -webkit-baseline-middle; }
/* line 207, ../sass/rtl/layout/_header.scss */
li.mega-menu li.menu-item > a {
  text-align: right; }

/* main style */
/* line 3, ../sass/rtl/layout/_main.scss */
.layout {
  *zoom: 1;
  max-width: 61em;
  _width: 61em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative; }
  /* line 38, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
  .layout:after {
    content: "";
    display: table;
    clear: both; }

/* line 9, ../sass/rtl/layout/_main.scss */
.primary {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 9, ../sass/rtl/layout/_main.scss */
  .primary {
  width: 66.10169%;
  float: right;
  margin-left: 1.69492%;
  margin-right: auto; }

/* line 18, ../sass/rtl/layout/_main.scss */
.without-sidebar .primary {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline;
  margin: auto; }
  /* line 21, ../sass/rtl/layout/_main.scss */
  .without-sidebar .primary article .featured-image {
    width: 100%;
    float: right;
    margin-left: 1.69492%;
    display: inline; }
    /* line 21, ../sass/rtl/layout/_main.scss */
    .without-sidebar .primary article .featured-image {
  width: 40.67797%;
  float: right;
  margin-left: 1.69492%;
  margin-right: auto; }
  /* line 28, ../sass/rtl/layout/_main.scss */
  .without-sidebar .primary article .article-body {
    width: 100%;
    float: right;
    margin-left: 1.69492%;
    display: inline; }
    /* line 28, ../sass/rtl/layout/_main.scss */
    .without-sidebar .primary article .article-body {
  width: 57.62712%;
  float: left;
  margin-left: 0;
  margin-right: auto; }

/* line 39, ../sass/rtl/layout/_main.scss */
article, .hentry {
  background-position: 0% 100%; }
  /* line 40, ../sass/rtl/layout/_main.scss */
  article .featured-image.single-image, .hentry .featured-image.single-image {
    float: right;
    padding-left: 10px;
    padding-right: 1px; }
  /* line 50, ../sass/rtl/layout/_main.scss */
  article .article-title h3:after, .hentry .article-title h3:after {
    right: 0px;
    left: auto; }
  /* line 57, ../sass/rtl/layout/_main.scss */
  article .avatar-container, .hentry .avatar-container {
    float: right; }
  /* line 60, ../sass/rtl/layout/_main.scss */
  article .profile-container, .hentry .profile-container {
    padding-right: 30px;
    padding-left: 1px; }
  /* line 66, ../sass/rtl/layout/_main.scss */
  article .forms_buttons .login-show:before, .hentry .forms_buttons .login-show:before {
    margin-right: auto;
    margin-left: 10px; }
  /* line 73, ../sass/rtl/layout/_main.scss */
  article .forms_buttons .register-show:before, .hentry .forms_buttons .register-show:before {
    margin-left: 10px;
    margin-right: auto; }
  /* line 83, ../sass/rtl/layout/_main.scss */
  article .register-container form.register_form table th, .hentry .register-container form.register_form table th {
    text-align: right; }
  /* line 90, ../sass/rtl/layout/_main.scss */
  article .manual-title:after, .hentry .manual-title:after {
    right: 0;
    left: auto; }

/* line 97, ../sass/rtl/layout/_main.scss */
body.archive article {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }

/* line 102, ../sass/rtl/layout/_main.scss */
.secondary {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 102, ../sass/rtl/layout/_main.scss */
  .secondary {
  width: 32.20339%;
  float: left;
  margin-left: 0;
  margin-right: auto; }

/* line 111, ../sass/rtl/layout/_main.scss */
.widget h4.widgettitle:before {
  right: 0px;
  left: auto; }
/* line 119, ../sass/rtl/layout/_main.scss */
.widget i.fa:before {
  padding-left: 10px;
  padding-right: 1px; }

/* line 129, ../sass/rtl/layout/_main.scss */
ul.widget-list li img {
  margin: 5px 5px 5px 12px; }

/* line 136, ../sass/rtl/layout/_main.scss */
.all-products article {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 136, ../sass/rtl/layout/_main.scss */
  .all-products article {
  width: 49.15254%;
  float: right;
  margin-left: 1.69492%;
  margin-right: auto; }
  /* line 141, ../sass/rtl/layout/_main.scss */
  .all-products article:nth-of-type(2n) {
  width: 49.15254%;
  float: left;
  margin-left: 0;
  margin-right: auto; }
/* line 148, ../sass/rtl/layout/_main.scss */
.all-products .single-cat-title {
  overflow: hidden;
  *zoom: 1; }
  /* line 151, ../sass/rtl/layout/_main.scss */
  .all-products .single-cat-title h3:after, .all-products .single-cat-title h4:after, .all-products .single-cat-title h2:after {
    -moz-transition: all, 0.2s, ease-out 1s 0s;
    -o-transition: all, 0.2s, ease-out 1s 0s;
    -webkit-transition: all, 0.2s, ease-out 1s;
    -webkit-transition-delay: 0s;
    transition: all 0.2s ease-out 1s 0s;
    right: 0;
    left: auto; }

/* line 162, ../sass/rtl/layout/_main.scss */
.comment-area .comment-metadata {
  float: left; }
/* line 165, ../sass/rtl/layout/_main.scss */
.comment-area .reply {
  float: left; }
/* line 168, ../sass/rtl/layout/_main.scss */
.comment-area .depth-1 {
  margin-left: auto;
  margin-right: 0px; }
/* line 174, ../sass/rtl/layout/_main.scss */
.comment-area .depth-2 {
  margin-left: auto;
  margin-right: 20px; }
/* line 180, ../sass/rtl/layout/_main.scss */
.comment-area .depth-3 {
  margin-left: auto;
  margin-right: 40px; }
/* line 186, ../sass/rtl/layout/_main.scss */
.comment-area .depth-4 {
  margin-left: auto;
  margin-right: 60px; }

/* line 194, ../sass/rtl/layout/_main.scss */
#commentform label {
  float: right; }

/*-----------------page templates correction ----------------*/
/* line 203, ../sass/rtl/layout/_main.scss */
.site-main.full-weight .primary {
  width: 100% !important;
  margin: 0px !important;
  padding: 0px !important; }
  /* line 207, ../sass/rtl/layout/_main.scss */
  .site-main.full-weight .primary article, .site-main.full-weight .primary .hentry {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important; }
/* line 213, ../sass/rtl/layout/_main.scss */
.site-main.full-weight .secondary {
  display: none; }
/* line 218, ../sass/rtl/layout/_main.scss */
.site-main.without-sidebar .primary {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 220, ../sass/rtl/layout/_main.scss */
  .site-main.without-sidebar .primary article.hentry {
    overflow: hidden;
    width: 100%;
    float: right;
    margin-left: 1.69492%;
    display: inline; }
/* line 225, ../sass/rtl/layout/_main.scss */
.site-main.without-sidebar .secondary {
  display: none; }

/* footer style */
/* line 2, ../sass/rtl/layout/_footer.scss */
footer.site-footer, .site-footer {
  text-align: right; }
  /* line 4, ../sass/rtl/layout/_footer.scss */
  footer.site-footer .site-designer, .site-footer .site-designer {
    float: left; }

/* line 9, ../sass/rtl/layout/_footer.scss */
.products-area .products-widget-col {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 9, ../sass/rtl/layout/_footer.scss */
  .products-area .products-widget-col {
  width: 23.72881%;
  float: right;
  margin-left: 1.69492%;
  margin-right: auto; }
  /* line 14, ../sass/rtl/layout/_footer.scss */
  .products-area .products-widget-col:nth-of-type(4n) {
  width: 23.72881%;
  float: left;
  margin-left: 0;
  margin-right: auto; }

/* line 23, ../sass/rtl/layout/_footer.scss */
.contact-area .widget.footer-second {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 23, ../sass/rtl/layout/_footer.scss */
  .contact-area .widget.footer-second {
  width: 32.20339%;
  float: right;
  margin-left: 1.69492%;
  margin-right: auto; }
  /* line 29, ../sass/rtl/layout/_footer.scss */
  .contact-area .widget.footer-second:nth-of-type(3n) {
  width: 32.20339%;
  float: left;
  margin-left: 0;
  margin-right: auto; }

/* line 39, ../sass/rtl/layout/_footer.scss */
.cretifies-container ul li {
  width: 100%;
  float: right;
  margin-left: 1.69492%;
  display: inline; }
  /* line 39, ../sass/rtl/layout/_footer.scss */
  .cretifies-container ul li {
  width: 23.72881%;
  float: right;
  margin-left: 1.69492%;
  margin-right: auto; }
  /* line 46, ../sass/rtl/layout/_footer.scss */
  .cretifies-container ul li:nth-of-type(4n) {
    width: 100%;
    float: right;
    margin-left: 1.69492%;
    display: inline; }
    /* line 46, ../sass/rtl/layout/_footer.scss */
    .cretifies-container ul li:nth-of-type(4n) {
  width: 23.72881%;
  float: left;
  margin-left: 0;
  margin-right: auto !important; }

/* table style */
/* line 1, ../sass/rtl/modules/_slider.scss */
.tp-bullets.preview1 {
  direction: ltr; }

/* line 4, ../sass/rtl/modules/_others.scss */
.furniture-inner span {
  font-size: 130%; }
