/* fonts */
// @include font-face("Bgothic", font-files("bank-gothic-medium.ttf", "bank-gothic-medium.woff"),"bank_gothic_medium.eot");
@include font-face("open-sans", font-files("OpenSans-Regular.ttf", "OpenSans-Regular.woff"),"OpenSans-Regular.eot","OpenSans-Regular.svg");
$open-sans : "open-sans","Georgia", Cambria, Times New Roman, Times, serif;

@include font-face("Weblogma_Yekan", font-files("Yekan.ttf", "Yekan.woff"),"Yekan.eot","Yekan.svg");

$web_yekan : "Weblogma_Yekan";